body {
  margin: 0px;
}

p {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Open Sans', sans-serif;
}

/*Section*/
section {
  padding: 15px 0;
  width: 100%;
}

.parallax {
    height: 100%; 
	
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
	font-family: 'Open Sans', sans-serif;
}

.subtitle {
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  font-size: 24px;
  color: rgba(255,255,255,1);
  clear: both;
  font-size: 50px;
  font-weight: 400;
  animation-name: portrait;
  animation-duration: .7s;
}

.text {
  margin: auto;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 15px;
  font-weight: 400;
}

@keyframes portrait {
  from {
	transform: translateY(-50px);
    opacity: 0;
  }
  
  to {
	opacity: 1;
  }
}

/* KEY FRAME REFERENCE FOR ANIMATION
@keyframes  {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
  
  50% {
    margin-left: 50%;
    width: 100%;
  }
  
  65% {
  	margin-left: 55%;
	width: 100%;
  }
  
  75% {
  	margin-left: 55%;
	width: 100%;
  }
}*/

/*Mobile responsive behaviour*/
@media screen and (max-width: 768px) {
}